[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "themes/powerlevel10k"]
	path = themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "plugins/wzsh-ranger/config/plugins/ranger_devicons"]
	path = plugins/wzsh-ranger/config/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
